@model ArticlesViewModel

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="~/css/main.css">
</head>
<body class="goto-here">
	<div class="hero-wrap hero-bread" style="background-image: url('https://pbs.twimg.com/media/D7vU-BDVUAAWHgM?format=jpg&name=medium');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<h1 class="mb-0 bread">Blog</h1>
				</div>
			</div>
		</div>
	</div>

	<form method="get" asp-action="GetAllArticles" asp-controller="Blog" class="form-inline">
		<section class="ftco-section ftco-degree-bg">
			<div class="container">
				<div class="articles">
					<div class="ftco-animate">
						<div class="row">
							<div class="col-md-4">
								@if (Model.SearchTerm != "" && Model.SearchTerm != null)
								{
									<input class="form-control form-control-sm mr-sm-2" type="text" aria-label="Search" name="searchTerm" value="@Model.SearchTerm">
								}
								else
								{
									<input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchTerm">
								}
								<button type="submit" class="btn btn-primary">Search</button>
							</div>
							@foreach (var article in Model.Articles)
							{
								<div class="col-md-12 d-flex ftco-animate">
									<div class="blog-entry align-self-stretch d-md-flex">
										<a href="blog-single.html" class="block-20" style="background-image: url('@article.ImageUrl');">
										</a>
										<div class="text d-block pl-md-4">
											<div class="meta mb-3">
												<div>@article.PublishDate</div>
												<div><span class="icon-chat"></span> @article.Comments.Count()</div>
											</div>
											<h3 class="heading"><a href="#">@article.Title</a></h3>
											<p class="article-content">@article.Content</p>
											<p><a asp-controller="Article" asp-action="GetArticleContent" asp-route-id="@article.Id" class="btn btn-primary py-2 px-3">Read more</a></p>
										</div>
									</div>
								</div>
							}
						</div>
					</div>

				</div>
			</div>
		</section>
	</form>

</body>
</html>