@model ExtendedProductDTO

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="~/css/main.css">
</head>
<body class="goto-here">
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mb-5 ftco-animate">
					<a class="image-popup"><img src="@Model.ImageUrl" class="img-fluid" alt="Colorlib Template"></a>
				</div>
				<div class="col-lg-6 product-details pl-md-5 ftco-animate">
					<h3>@Model.Name</h3>
					<div class="rating d-flex">
						<p class="text-left mr-3">
							Origin: <span style="color: #000;">@Model.Origin</span>
						</p>

						@if (Model.Quantity < 1)
						{
							<p class="text-left mr-3">
								Quantity: <span style="color: #000;">@($"{Model.Quantity * 1000} g")</span>
							</p>
						}
						else if (@Model.Quantity >= 1)
						{
							<p class="text-left mr-3">
								Quantity: <span style="color: #000;">@Model.Quantity kg</span>
							</p>
						}

						@if (Model.ExpirationDate != null)
						{
							<p class="text-left mr-3">
								Best before: <span style="color: #000;">@Model.ExpirationDate</span>
							</p>
						}
					</div>
					<div class="pricing">
						<p class="price">
							@if (Model.Discount > 0)
							{
								<span class="mr-2 without-discount">$@Model.Price</span>
								<span class="mr-2 real-price">$@($"{Model.Price - (Model.Price * Model.Discount / 100):F2}")</span>
							}
							else
							{
								<span class="mr-2 real-price">$@Model.Price</span>
							}
						</p>
					</div>
					<p>
						@Model.Description
					</p>
					<div class="row mt-4">
						<div class="w-100"></div>
						<div class="input-group col-md-6 d-flex mb-3">
							<span class="input-group-btn mr-2">
								<button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
									<i class="ion-ios-remove"></i>
								</button>
							</span>
							<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
							<span class="input-group-btn ml-2">
								<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
									<i class="ion-ios-add"></i>
								</button>
							</span>
						</div>
					</div>
					<p><a href="cart.html" class="btn btn-black py-3 px-5">Add to Cart</a></p>
				</div>
			</div>
		</div>
	</section>
	<script>
		$(document).ready(function () {

			var quantitiy = 0;
			$('.quantity-right-plus').click(function (e) {

				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined

				$('#quantity').val(quantity + 1);


				// Increment

			});

			$('.quantity-left-minus').click(function (e) {
				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined

				// Increment
				if (quantity > 0) {
					$('#quantity').val(quantity - 1);
				}
			});

		});
	</script>

</body>
</html>