@model ExtendedProductDTO

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="~/css/main.css">
</head>
<body class="goto-here">
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mb-5 ftco-animate">
					<img src="@Model.ImageUrl" class="img-fluid" alt="Colorlib Template">
				</div>
				<div class="col-lg-6 product-details pl-md-5 ftco-animate">
					<h3>@Model.Name</h3>
					<div class="rating d-flex">
						<p class="text-left mr-3">
							Origin: <span style="color: #000;">@Model.Origin</span>
						</p>

						@if (Model.Quantity < 1)
						{
							<p class="text-left mr-3">
								Quantity: <span style="color: #000;">@($"{Model.Quantity * 1000} g")</span>
							</p>
						}
						else if (@Model.Quantity >= 1)
						{
							<p class="text-left mr-3">
								Quantity: <span style="color: #000;">@Model.Quantity kg</span>
							</p>
						}

						@if (Model.ExpirationDate != null)
						{
							<p class="text-left mr-3">
								Best before: <span style="color: #000;">@Model.ExpirationDate</span>
							</p>
						}
					</div>
					<div class="pricing">
						<p class="price">
							@if (Model.Discount > 0)
							{
								<span class="mr-2 without-discount">$@Model.Price</span>
								<span class="mr-2 real-price">$@($"{Model.Price - (Model.Price * Model.Discount / 100):F2}")</span>
							}
							else
							{
								<span class="mr-2 real-price">$@Model.Price</span>
							}
						</p>
					</div>
					<p>
						@Model.Description
					</p>
					<form asp-action="AddToShoppingcart" asp-controller="Shoppingcart" method="post">
						<div class="row mt-4">
							<div class="w-100"></div>
							<div class="input-group col-md-6 d-flex mb-3">
								<input type="number" id="amount" name="amount" class="form-control input-number" value="1" min="1" max="10">
								<input type="hidden" name="productAmount" value="@Model.Amount" />
								<input type="hidden" name="productId" value="@Model.Id" />
							</div>
						</div>
						<p>
							<button class="btn btn-black py-3 px-5">Add to Cart</button>
						</p>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>